@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Rajdhani:700&display=swap");

body {
    font: normal 14px/1.8 "Roboto", sans-serif;
    margin: 0;
    /* padding: 0 30px; */
}

.centered {
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    width: 500px;
    margin: 0 auto 30px;
}


.firstSection {
    background-image: url("assets/gradient-violet-bg.jpg");
    padding-bottom: 60px;
}

.companyLogo {
    width: 201px;
    transition: transform 0.3s;
    margin: 19px 0 0 20px;
    
}

.companyLogo:hover {
    transform: scale(1.1);
}


.navbar {
    list-style-type: none;
    padding: 0;
    display: inline;
}

nav {
    float: right;
    justify-content: flex-end;
    margin: 19px 20px 0 0;
}


.dropDownA {
    display: inline;
    color: white;
    padding: 20px;
}

.dropdownLinksActive {
    
    color: #777784;
}

.dropdownLinksActive:hover {
    text-decoration: underline;
    background-color: #f8f9fa;
}

input[type=checkbox]{
    display: none;
}

label{
    display: inline;
    background-color: none;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* position: relative; */
}


.dropdownLinks {
    display: none;
    position: absolute;
}


input[type=checkbox]:checked ~ ul {
    display: block;
    background-color: white;
    color: #777784;
    list-style-type: none;
    text-align: center;
}



a {
    text-decoration: none;
    color: white;
}

.dropdowns {
    text-decoration: none;
    color: #777784;
}

.openKastAnchor {
    border: 1px solid white;
    background: none;
    color: white;
    border-radius: 3px;
    padding: 4px;
}

.laptop {
    height: 503px;
    width: 853px;
    display: block;
    margin: auto;
    position: relative;
}

.centered {
    text-align: center;
}

.whiteColor {
    color: white;
}

.openKast {
    display: block;
    margin: auto;
    color: white;
    border-radius: 3px;
  background: #FE9000;
  font-weight: bold;
  transition: all 0.3s;
  border: 1px solid transparent;
  background-clip: padding-box;
  height: 40px;
  width: 215px;
  font-size: 18px;
}

.openKast:hover {
    height: 42px;
}

.featuredContainer {
    width: 100%;
    background-color: white;
    display: block;
    margin: auto;
    padding: 110px 0;
}



.publicationsTable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 140px;
    grid-row-gap: 80px;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    border-radius: 3px;
    width: 880px;
    height: 228px;
    margin: 0 auto 60px;
}



.quoteContainer {
    width: 734px;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    font-size: 20px;
    /* display: inline; */
}

.author {
    font-size: 16px;
    text-align: right;
    display: block;
}

.author:before {
    
}

.greenContainer {
    background-image: url("assets/green-bg.jpg");
    padding: 110px 0;
}