.firstSection {
    background-image: url("assets/gradient-violet-bg.jpg");
}

.companyLogo {
    width: 201px;
}


nav {
    float: right;
    justify-content: flex-end;
}


li {
    display: inline;
    color: white;
}



.laptop {
    height: 503px;
    width: 853px;
    display: block;
    margin: auto;
}

.centered {
    text-align: center;
}

.whiteColor {
    color: white;
}

.openKast {
    display: block;
    margin: auto;
    color: white;
    background-color: #fd7e14;
}

.featuredContainer {
    width: 100%;
    background-color: white;
    display: block;
    margin: auto;
}



.publicationsTable{
    width: 880px;
    height: 228px;
    margin: auto;
}

.publication {
    width: 200px;
}

#pub1 {
    background-image: url("assets/wired-logo.svg");
    background-size: cover;
}

#pub2 {
    background-image: url("assets/nerdist-logo.svg");
    background-size: cover;
}

#pub3 {
    background-image: url("assets/yahoo-finance-logo.svg");
    background-size: cover;
}

#pub4 {
    background-image: url("assets/evening-standard-logo.svg");
    background-size: cover;
}

#pub5 {
    background-image: url("assets/bbc-logo.svg");
    background-size: cover;
}

#pub6 {
    background-image: url("assets/daily-mail-logo.svg");
    background-size: cover;
}

.quoteContainer {
    width: 50%;
    margin: auto;
}

.author {
    text-align: right;
}

.greenContainer {
    background-image: url("assets/green-bg.jpg");
}